/* ================== TOPO =============== */

.topo {
  border:none;
  border-bottom: 3px dashed rgb(83, 66, 78);
  color:#fff;
  background-color:#fff;
  width:100%;
  list-style:none;
}


.topo ul li { 
  display: inline; 
  padding: 5%;
}

.topo ul{
  margin-left: 85%;
}



/* ============= BARRA NAVEGAÇÃO ========== */

.logo {
  margin-left: -20px;
}

.nav-list {
    list-style-type: none;
    overflow: hidden;
    background-color: #08808E;
    border-radius: 5px;
    height: 55px;
    display: flex;
    z-index: 1;
}

.nav-list > li{
    float: left;
    display: inline;
    margin-right: 20px;
    margin-top: 10px;

    /* block se quiser parado quando media querie aqui */

}

.nav-list > li a {
  color: white;
  text-align: center;
  text-decoration: none;
  margin-left: 100px;

}

.nav-list >li>a:hover {
  color: #FE9A84;
}

.mobile-menu div {
  width: 30px;
  height: 3px;
  background: #FE9A84;
  margin: 8px;
}

.mobile-menu {
  cursor: pointer;
  margin-top: 50px;
  margin-left: 50%;
}




/* ========== GALERIA =========== */

.gallery {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  width: 100%;
  height: 90%;
  max-height: 25vw;
  overflow: hidden;
  align-items: center;
}

.gallery__stream {
  position: relative;
  top: 20%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

.gallery__item {
  position: absolute;
  width: 50%;
  height: 70%;
  transition: 2s all ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 30px;
}

/* Itens */

.gallery__item:nth-child(1) {
  left: 0;
  z-index: 1;
  transform: translateX(-100%) scale(.8);
  width: 20%;
  height: 200px;
}

.gallery__item:nth-child(2) {
  left: 0;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
  width: 20%;
  height: 200px;
}

.gallery__item:nth-child(3) {
  left: 50%;
  z-index: 3;
  transform: translateX(-50%) scale(1);
  width: 50%;
  height: 200px;
}

.gallery__item:nth-child(4) {
  left: 100%;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
  width: 50%;
  height: 200px;
}

.gallery__item:nth-child(n+5) {
  left: 100%;
  z-index: 1;
  transform: scale(.8);
  width: 50%;
  height: 200px;
}

/* Controles */

.gallery__prev,
.gallery__next {
  position: absolute;
  top: 50%;
  z-index: 4;
  width: 50%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%) scale(.8);
  cursor: pointer;
}

.gallery__prev {
  left: 20%;
}

.gallery__next {
  left: 100%;
}

/* Sombras */

.gallery:before,
.gallery:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 2;
}


main{
  background-color: #FE9A84;
  margin-top: 400px;
  padding-top: 400px;
}


/* ============= TIPOGRAFIA ================== */

li>a {
  font-family: 'Bebas Neue', cursive;
  font-style: oblique;
  font-weight: 600;

}

/* ==================== MEDIA QUERIES ========================= */

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    right: 0;
    top: 20vh;
    width: 50vw;
    height:  93vh;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    transform: translateX(100%)
  }

  .nav-list li{
    margin-left: 0;
  }

.mobile-menu {
  margin-right: 2000px;

}

.nav-list.active{
  transform: translateX(0);
}
}